v-container.signin
  v-row(justify="center" align="center" style="height: calc(100vh - 120px);")
    v-card(width=560 v-if="signinForm === 'signin'")
      v-col.text-center.title.indigo(cols=12) ログイン
      v-divider
      v-row.py-8(justify="center")
        v-col(cols=8)
          .error-message(v-for="item, index in errorMessages", :key="index")
            v-alert(:value="true", type="error") {{ item }}
        v-col(cols=8)
          v-form.signin-form(@submit.prevent="signIn()")
            v-text-field(v-model="userName" label="ログイン名")
            v-text-field(v-model="password" label="パスワード" type="password")
            v-btn(color="indigo" large depressed dark type="submit") ログイン
            v-col(cols=12)
            v-btn(color="green" large depressed dark @click="signinForm = 'signup'") ユーザー作成
            .caption.reset-password-link.mt-5(@click="signinForm = 'resetPassword'") パスワードを忘れた方はこちら
    v-card(width=560 v-if="signinForm === 'signup'")
      v-col.text-center.title.indigo(cols=12) ユーザー作成
      v-divider
      v-row.py-8(justify="center")
        v-col(cols=8)
          .error-message(v-for="item, index in errorMessages", :key="index")
            v-alert.text-left(:value="true", type="error") {{ item }}
        v-col(cols=8)
          v-text-field(v-model="signupParam.mailAddress" label="メールアドレス")
          v-text-field(v-model="signupParam.userName" label="ログイン名")
          v-text-field(v-model="signupParam.password" label="パスワード (大文字, 小文字, 数字を含む半角英数字8文字以上) " type="password")
        v-col(cols=12)
        v-btn(color="orange" large depressed dark @click="signUp()") ユーザー作成
        v-col(cols=12)
        v-btn(color="" large depressed @click="signinForm = 'signin'") 戻る
    v-card(width=560 v-if="signinForm === 'resetPassword'")
      v-col.text-center.title.indigo(cols=12) パスワードリセット
      v-divider
      v-row.py-8(justify="center")
        v-col(cols=8)
          .error-message(v-for="item, index in errorMessages", :key="index")
            v-alert(:value="true", type="error") {{ item }}
        v-col(cols=8)
          v-text-field(v-model="resetPasswordParam.userName" label="ログイン名")
          v-text-field(v-model="resetPasswordParam.password" label="パスワード (大文字, 小文字, 数字を含む半角英数字8文字以上) " type="password")
        v-col(cols=12)
        v-btn(color="indigo" large depressed dark @click="forgotPassword()") パスワード変更
        v-col(cols=12)
        v-btn(color="" large depressed @click="signinForm = 'signin'") 戻る
    v-card(width=560 v-if="signinForm === 'submitCode'")
      v-col.text-center.title.indigo(cols=12) コード入力
      v-divider
      v-row.py-8(justify="center")
        v-col(cols=8)
          .error-message(v-for="item, index in errorMessages", :key="index")
            v-alert(:value="true", type="error") {{ item }}
        v-col(cols=8)
          v-text-field(v-model="resetPasswordParam.code" label="コード")
        v-col(cols=12)
        v-btn(color="indigo" large depressed dark @click="resetPassword()") コード送信
        v-col(cols=12)
        v-btn(color="" large depressed @click="signinForm = 'signin'") 戻る


